#top-editarea {
  margin-bottom: 0px;
}

#top-box {
  margin: 0px auto 20px;
}

.all-link{
  position: relative;
  background-color: #f0f0ff;
  border:solid 1px #dcdcff;
  border-radius: 5px;
  width: 86%;
  margin:5px 0px 10px 0px;
  padding:10px 20px;
  display: block;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


/* ulの左側の位置調整 */
.entry-content ul{
  position: relative;
  padding-left: 30px;
}
/*
@media screen{
  .entry-content ul{
      padding-left: 15px !important;
  }
}
*/

/* 目次 スマホではみ出る修正 */
.entry-content .table-of-contents{
  width: 100% !important;
  box-sizing: border-box !important;
}

/* p margin 0 */
.entry-content p {
    /*
    margin: 0 0 0 0 !important;
    */
}

/* リンク 下のブログ名非表示 */
.hatena-citation{
  display: none;
}

.guest-footer-content{
  display: none;
}

/* ブログタイトルエリア縮小 */
#blog-title{
  padding:30px 0;
}

/* 文字サイズ */
.entry-content p {font-size: 16px;}
@media screen and (max-width: 480px){.entry-content p {font-size: 16px;}}

/*目次のデザイン変更*/
.entry-content .table-of-contents {
  position:relative;
  margin-left: 0;
  padding: 10px 10px 10px 35px; /* 枠内の余白(上右下左) */
  font-size: 100%; /* 文字の大きさ */
  font-weight:bold;
  background:#fff;
  border-top:40px solid #cccccc; /* 「この記事の目次」周りの色 */
  border-left:2px solid #cccccc; /* 線の太さ */
  border-right:2px solid #cccccc;
  border-bottom:2px solid #cccccc;
  line-height: 100%; /* 行間 */
  border-radius: 5px; /* 角丸にしない場合は不要 */
  color:#444; /* 数字（マーク色変更） */
}
.entry-content .table-of-contents::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c9  この記事の目次";
  display: block;
  font-size: 100%;
  font-weight: 900;
  position: absolute;
  top: -28px;/*上からの位置調整*/
  left: 32px; /*左からの位置調整*/
  color: #fff !important;
}

/* ブログタイトル同色化 */
#title > a:nth-child(1), #blog-description{
  color: #fff;
}

/* 写真中央寄せ */
.page-entry .entry-content .hatena-fotolife {
  display: block;
  margin: 0px auto;    
}

/* ラズパイアイコン*/
.rasp-icon {
  position:relative;
  display: inline-block;
  vertical-align:middle;
  height:17px;
  margin-right:1px;
  margin-bottom:1px;
}

/* ソースコードタイトル */
.code-title {
  position: relative;
}
.code-title pre.code {
    padding-top: 2.4em;
 }
.code-title::before{
    content: attr(data-title);
    padding: 0 1em;
    background: #666;
    color: #fff8e1;
    font-size: 1.0em;
    border-radius: 3px 0 0 0;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 10;
}

/* ソースコードの囲み */
pre.code {
  margin-bottom: 1.5em;
  padding: 1em;
  background: #333;
  color: #eee;
  position: relative;
  border-radius: 5px;
  border: solid 1px #DADADA;
}

.entry-content pre.code {
  margin-left: 5px;
  margin-right: 5px;
  color: #39464e;
  background-color: #F3F5F6;
}

/* Googleカスタム検索用 */

/*入力ボックス*/
#cse-search-box input[type="text"]{
  width: calc(100% - 60px);
}
 
/*サブミットボタン*/
#cse-search-box input[type="submit"]{
  width: 50px;
}
 
/*入力フォーム全体*/
#cse-search-box input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
}




/********************************
もしもかんたんリンク
*********************************/
/*================ box */
div.easyLink-box{
  margin: 0 auto !important;
  padding: 1em 1.5em !important;
  background-color: #fafafa!important;
  border:none!important;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26);
  height:auto;
  font-family:’Lucida Grande’,’Hiragino Kaku Gothic ProN’,Helvetica, Meiryo, sans-serif;
  line-height: 1.5;
  max-height:none!important;
  width:100%;
  max-width:630px!important;
  }
  @media screen and (max-width: 703px){
  div.easyLink-box {
  text-align:center;
  max-height:none!important;
  padding: 10px!important;
  }}
  @media screen and (max-width: 620px){
  div.easyLink-box{
  display:block!important;
  }
  }
  /*===============name */
  div.easyLink-box div.easyLink-info p.easyLink-info-name{
  text-align:center;
  }
  div.easyLink-box div.easyLink-info p.easyLink-info-name a {
  font-size:14px;
  color: #545454!important;
  text-decoration: none;
  transition: 0.3s ;
  }
  div.easyLink-box div.easyLink-info p.easyLink-info-name a:hover {
  color:#FFCA28!important; /* テキストリンクカラー(マウスオーバー時) */
  text-decoration: none !important;
  }
  
  @media screen and (max-width: 703px){
  div.easyLink-box div.easyLink-info p.easyLink-info-name a {
  font-size:14px;
  }
  }
  @media screen and (max-width: 480px){
  div.easyLink-box div.easyLink-info p.easyLink-info-name a {
  font-size:14px;
  }
  }
  /*================== image */
  @media screen and (min-width: 704px){
  div.easyLink-box div.easyLink-img p.easyLink-img-box {
  align-items: start!important;
  }}
  
  div.easyLink-img{
  height: 200px!important;
  }
  .easyLink-img-box {
  height: 200px!important;
  }
  .easyLink-img-box span > img {
  max-height: 200px!important;
  }
  @media screen and (min-width:481px) and (max-width: 620px){
  div.easyLink-box div.easyLink-img{
  margin-right: 0px!important;
  display:inline-block!important;
  }
  div.easyLink-box div.easyLink-img p.easyLink-img-box {
  display:inline-block!important;
  }
  }
  div.easyLink-box div.easyLink-img a.easyLink-arrow-left img, div.easyLink-box div.easyLink-img a.easyLink-arrow-right img {/*左右矢印の影非表示*/
  box-shadow:none;
  }
  /*================ btn */
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a {
  transition: 0.4s ease-out!important;
  padding:.3em 0!important;
  border-radius: 20px!important;
  }
  
  @media screen and (min-width: 704px){
  div.easyLink-box div.easyLink-info p.easyLink-info-btn {
  margin-top: .5em!important;
  justify-content: center!important;
  }
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a {
  display: inline-block!important;
  margin: .5em 0 0 0 !important;
  padding: 8px 0!important;
  border-radius: 20px!important;
  width:65%!important;
  }
  }
  
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a.easyLink-info-btn-amazon {background: #ff9901;}
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a.easyLink-info-btn-amazon:hover{background: #FEBD69;}
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a.easyLink-info-btn-rakuten {background: rgb(191,0,0);}
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a.easyLink-info-btn-rakuten:hover{background: #FA5858;}
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a.easyLink-info-btn-yahoo {background: #FF0033;}
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a.easyLink-info-btn-yahoo:hover{background: #F7819F;}
  
  @media screen and (max-width: 703px){
  div.easyLink-box div.easyLink-info p.easyLink-info-btn {
  margin-top: .2em!important;
  }
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a {
  display: inline-block!important;
  margin-top: .5em!important;
  margin-bottom: 0!important;
  padding: 8px 0!important;
  border-radius: 20px!important;
  width:65%!important;
  }
  }
  @media screen and (max-width: 620px){
  div.easyLink-box div.easyLink-info p.easyLink-info-btn a {
  display: inline-block!important;
  margin-top: .3em!important;
  padding: 8px 0!important;
  border-radius: 20px!important;
  width:85%!important;
  }
  }
  p.easyLink-info-model{/*モデル非表示*/
  display:none;
  }
  
