/* link box */
.blog-card-hl-box {
  position: absolute;
  border-radius: 2px;
  background: #96b4f0;
  font-weight: bold;
  font-size: 14px;
  padding: 0px 12px;
  top: -15px;
  left: 20px;
  width: 130px;
  height: 30px;
 }

.blog-card {
  display: block;
  position: relative;
  border: 1px solid #6495b8;
  border-radius: 5px;
  /*width: 96%*/
  margin: 30px 5px 20px 5px;
  padding: 20px;
  padding-top: 30px !important; 
  background: rgba(255, 255, 255, 0);
  word-wrap: break-word;
  box-sizing: border-box;
  text-decoration: none !important;
  -webkit-transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;
  transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease; 
}
    
.blog-card .blog-card-hl {
  position: relative;
  color: #fff;
  letter-spacing: 0;
  line-height: 0;
  padding-left: 5px; 
}

.blog-card .blog-card-hl:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    white-space: pre-wrap;
    content: "\f15c   あわせて読みたい";
    color: #fff;
    width: 150px;
    top: 14px;
    left: 0px;
    letter-spacing: normal;
    line-height: 0; 

}
.blog-card .jin-ifont-post {
    line-height: 0;
    color: #fff;
    font-size: 0.95rem; 
}

.blog-card:hover {
  opacity: 0.8 !important; }

.blog-card:hover .blog-card-thumbnail img {
  transform: scale(1.1); }

.blog-card-box {
  display: flex; 
}

.blog-card-content {
  flex: 5.0; }

.blog-card-thumbnail {
  display: block;
  overflow: hidden; 
  margin-right: 20px;
  flex: 0 1 180px;
}

.blog-card-thumbnail img {
  filter: opacity(1);
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: baseline;
  width: 100%;
  height: auto;
  background: #fff;
  -webkit-transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;
  /*! transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease; */ 
}

.blog-card-title {
  display: block;
  letter-spacing: 1px;
  color: #524e4d;
  -webkit-transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease; 
  margin-bottom: 15px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: left;
}

.blog-card-excerpt {
  color: #524e4d;
  margin-top: 15px;
  font-size: 0.75rem;
  display: block; 
  text-align: left;
}

/*p box*/
.p-box {

    background-color: #f0f0ff;
    margin: 10px 10px 10px 10px;
    border: solid 1px #dcdcff;
    border-radius: 5px;
    position: relative;

}

.p-text::before {

    content: attr(data-text);
    font-size: 100%;
    background-color:#6495ed;
    color: #fff;
    padding: 3px 4px;
    white-space: nowrap;
    position: absolute;
    left: 20px;
    top: 15px;

}

.p-text{
    padding: 65px 25px 10px 25px;
}
/*link box*/
.link-box-a:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: '続きを読む \f101';
    right: 10px;
    bottom: 10px;
    padding: 10px 20px;
    background: #eee;
    color: #333;
    font-size: .8em;
    border-radius: 2px;
}
.link-box-a:hover {
    box-shadow: 2px 2px 6px #dcdcff;
    transition: .3s;
    border: solid 1px　#dcdcff;
    border-radius: 5px;
}
.link-box{
    overflow:hidden;
    margin:0 0 0 5px;
    width: 100%;
}
.link-box-a {
    display: table;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 10px 0px 10px 25px;
    border: solid 2px #ddd;
    border-radius: 5px;
    background: #fff;
    color:#555;
    font-weight: 700;
    text-decoration: none !important;
}

.link-box-a .link-tbcell {
    display: table-cell;
    vertical-align: top;
}

.link-box-a .link-tbimg > img {

    width: 100px;
    height: 100px;
    margin:5px 0 0 0;
}
.link-box-a .link-tbtext {
    line-height: 1.5;
    text-align: left;
    padding: 15px 20px;
    width: 1000px;
}

.link-box-label {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    top: 20px;
    width: 140px;
    text-align: center;
    font-size: 80%;
    line-height: 1.0;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    left: -35px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #96b4f0;
    color: #fff;
}

/*p title box*/
.p-title-box {
    border-top: solid 1px #6495b8;
    padding: 10px 0;
    background: #f0f0ff;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 2.0;
    position: relative;
    font-size: 16px;
    line-height: 2.0;
    margin: 20px 5px;
}

.p-title-box-p::after {
    content: "";
    display: block;
    margin-bottom: 30px;
}

.p-title-box-span {
    padding: 3px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    background: #96b4f0;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
}

.p-title-box-inbox {
    text-align: left;
    padding: 10px 25px 5px;
    font-size: 100%;
}

/*memo box*/
.memo_box {
    background: #fff9e566;
    padding: 0.5em 1em 1em;
    border: 2px solid #f7c6b8;
    border-radius: 5px;
    margin: 10px 5px;
}

.memo_box p {
    margin: 0;
    color: #f89174;
    font-weight: bold;
    font-size: 16px;
}

.memo_box p.atention::before {
    font-family: "Font Awesome 5 Free";
    content: "\f06a";
    padding-right: 5px;
}

.memo_box > ul {
    margin: 5px 0 0 25px;
    padding: 0;
}

.memo_box > ul > li{
    line-height: 2.0;
    font-size: 100%;
    padding: 0 20px 0 5px;
}

/*fukidashi list box*/
.fuki-list:after {
    position: absolute;
    border-top: 12px solid #96b4f0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: '';
    top: 15px;
    left: 15px;
}
.fuki-list:before {
    position: absolute;
    border-radius: 5px;
    background-color: #96b4f0;
    color: #fff;
    font-family: "FontAwesome", "Helvetica","Yu Gothic";
    content: attr(data-text);
    font-size: 12px;
    font-weight: bold;
    padding: 0px 15px;
    left: -10px;
    top: -15px;
}
.fuki-list {
    position: relative;
    border: 1px solid #dcdcff;
    background-color: #f0f0ff;
    border-radius: 5px;
    margin: 30px 5px 20px 5px;
    padding: 25px 20px 15px 20px;
}


.fuki-list ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 15px 0 0 0;
    font-size:90%;
}

.fuki-list ul li {
    list-style-type: none !important;
    position: relative;
    padding: .2em 0 .2em 1.5em;
    line-height: 1.5;
}

.fuki-list ul li::before {
    position: absolute;
    left: 0;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: #96b4f0;
    width: 8px;
    height: 8px;
    margin: 0 16px 20px 0;
}

/*tag list box*/
.tag-list:before {
    position: absolute;
    border-radius: 5px 0 0 0/ 5px 0 0 0;
    background-color: #96b4f0;
    color: #fff;
    font-family: "FontAwesome", "Helvetica","Yu Gothic";
    content: attr(data-text);
    font-size: 16px;
    font-weight: bold;
    padding: 0px 15px;
    left: 0px;
    top: 0px;
}
.tag-list {
    position: relative;
    border: 1px solid #dcdcff;
    background-color: #f0f0ff;
    border-radius: 5px;
    margin: 30px 5px 20px 5px;
    padding: 35px 20px 15px 20px;
}


.tag-list ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 15px 0 0 0;
    font-size:100%;
}

.tag-list ul li {
    list-style-type: none !important;
    position: relative;
    padding: .5em 0 .5em 2.0em;
    line-height: 1.8;
}

.tag-list ul li::before {
    position: absolute;
    left: 0;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: #96b4f0;
    width: 8px;
    height: 8px;
    margin: 0 16px 20px 0;
}

/*tag list num box*/
.tag-numlist:before {
    position: absolute;
    border-radius: 5px 0 0 0/ 5px 0 0 0;
    background-color: #96b4f0;
    color: #fff;
    font-family: "FontAwesome", "Helvetica","Yu Gothic";
    content: attr(data-text);
    font-size: 12px;
    font-weight: bold;
    padding: 0px 15px;
    left: 0px;
    top: 0px;
}
.tag-numlist {
    position: relative;
    border: 1px solid #dcdcff;
    background-color: #f0f0ff;
    border-radius: 5px;
    margin: 30px 5px 20px 5px;
    padding: 35px 20px 15px 20px;
}


.tag-numlist ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 15px 0 0 0;
    counter-reset: cnt;
    font-size: 90%;    
}

.tag-numlist ul li {
    list-style-type: none !important;
    position: relative;
    padding: 0.3em 0.5em 0.3em 30px;
    line-height: 1.5;
}

.tag-numlist ul li:before {
    position: absolute;
    counter-increment: cnt;
    content: counter(cnt);
    display: inline-block;
    background: #96b4f0;
    font-family: 'Arial';
    font-weight:bold;
    font-size: 13px;
    border-radius: 50%;
    left: 0;
    width: 21px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;

    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* 吹き出しのCSS　*/
.entry-content .l-fuki,
.entry-content .r-fuki {
  position: relative;
  width: calc(100% - 82px);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #ddd;
  box-shadow: 0 3px 8px -2px rgba(0,0,0,.16);
  background-color: #fff;
  z-index: 1;
  box-sizing: border-box;
}
.entry-content .l-fuki {
  margin: 20px auto 36px 0;
}
.entry-content .r-fuki {
  margin: 20px 0 36px auto;
}
.entry-content .l-fuki::before,
.entry-content .r-fuki::before {
  position: absolute;
  content: "";
  top: 16px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  z-index: 2;
}
.entry-content .l-fuki::before {
  right: -7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.entry-content .r-fuki::before {
  left: -7px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: -6px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 5px #aaa;
  box-sizing: border-box;
}
.entry-content .l-fuki::after {
  right: -82px;
}
.entry-content .r-fuki::after {
  left: -82px;
}
@media screen and (min-width: 478px) {
  .entry-content .l-fuki::after,
  .entry-content .r-fuki::after {
    width: 80px;
    height: 80px;
  }
  .entry-content .l-fuki,
  .entry-content .r-fuki {
    width: calc(100% - 106px);
  }
  .entry-content .l-fuki::after {
    right: -106px;
  }
  .entry-content .r-fuki::after {
    left: -106px;
  }
}
.fuki-imgl::after {background-image:url(https://cdn-ak2.f.st-hatena.com/images/fotolife/r/raspberrypi/20200126/20200126103618.png);}
.fuki-imgr::after {background-image:url(https://cdn-ak2.f.st-hatena.com/images/fotolife/r/raspberrypi/20200126/20200126105434.png);}

