/* 多階層グローバルメニュー */
#menu{
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #ECEFF1;
    border-bottom: 1px solid #ECEFF1;
}
#menu-inner{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background: #fff;
}
#menu-btn{display: none;}
#menu-content{
    padding-left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

#menu-content > li{
    position: relative;
    /*float: left;*/
    display: inline-block;
    height: 100%;
    text-align: center;
}
#menu-content > li > a{
    position: relative;
    display: block;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    background: #fff;
    color: #3F3F3F;
    font-size: 13px;
    text-decoration: none;
    z-index: 2;
}
#menu-content > li > a:hover{
    background: #cccccc;
    color: #fff;
    opacity: 0.8;
}
#menu-content > li > a > .blogicon-chevron-down{margin-right: 5px;}
/* 2階層目 */
#menu-content > li > ul.second-content{
    visibility: hidden;
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    z-index: -100;
}
#menu-content > li:hover > ul.second-content{
    visibility: visible;
    top: 40px;
    z-index: 100;
    transition: all .3s;

}
#menu-content > li > ul.second-content > li{
    text-align: center;
    width: 160px;
    height: 35px;
    position: relative;
}
#menu-content > li > ul.second-content > li > a{
    display: block;
    line-height: 35px;
    background: #cccccc;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    white-space: pre;
}
#menu-content > li > ul.second-content > li > a:hover{
    background: #aaaaaa;
    color: #fff;
}
/* 3階層目 */
#menu-content > li.first-content > ul.second-content > li {
  list-style-type: none;
}

#menu-content > li.first-content > ul.second-content > li > ul.third-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 160px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    z-index: -200;
}
#menu-content > li > ul.second-content > li:hover > ul.third-content {
    visibility: visible;
    z-index: 200;
    transition: all .3s;
    background: #bbbbbb;
    color: #fff;
}
#menu-content > li > ul.second-content > li > ul.third-content > li{
    text-align: center;
    width: 180px;
    height: 40px;
    position: relative;
    background: #bbbbbb;
    color: #fff;
}
#menu-content > li > ul.second-content > li > ul.third-content > li > a{
    display: block;
    line-height: 40px;
    background: #bbbbbb;
    color: #fff;
    font-size: 80%;
    text-decoration: none;
}
#menu-content > li > ul.second-content > li > ul.third-content > li > a:hover{
    background: #aaaaaa;
    color: #fff;
}

@media screen and (max-width:960px){
    #menu-inner{
        width: 100%;
        height: auto;
    }
    #btn-content{text-align: left;}
    #menu-btn{
        display: inline-block;
        padding: 8px 15px;
        margin: 5px;
        cursor: pointer;
        background: #cccccc;
        color: #fff;
        font-size: 70%;
    }
    #menu-content{
        display: none;
        width: 150px;
        margin:0;
        position:relative;
        top: -4px;
        left: -15px;
    }
    #menu-content > li{
        width: 100%;
        height: 40px;
        float: none;
        text-align: left;
        padding-left:20px;
    }
    #menu-content > li > a{
        width: 100%;
        line-height: 40px;
        text-decoration: none;
        background: #cccccc;
    }
    #menu-content > li > ul.second-content{
        left:100px;
    }
        
}


/*
#menu-content > li:hover > ul.second-content{display: none;}
#menu-content > li > a > .blogicon-chevron-down{display: none;}
*/

/* 多階層グローバルメニューCSSここまで */
