.entry-content h2 {
  border-bottom: double 5px #96b4f0;
  padding: 5px;
  color:rgb(52, 54, 56);
}
.entry-content h2:before {
  content:'';
  padding: 2px;
}

.entry-content h3 {
  border-bottom: solid 2px #96b4f0;
  color:rgb(52, 54, 56);
}
.entry-content h3:before {
  content:'';
  padding: 7px;
}

.entry-content h4 {
  position: relative;
  padding-left: 1.7em;
  line-height: 1.4;
}

.entry-content h4:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  font-size: 1em;
  left: 5px;
  top: 0;
  color: #96b4f0;
}
