/* SNSボタン */
.share-flat .share-flat-inner .twitter-search{
    background: #1DA1F2; 
    width: 76%; 
    height: auto; 
    font-size: 12px; 
    padding:4px; 
    line-height: 0px;
  }
  
  .share-flat .share-flat-inner .twitter-search .share-text{
    font-size: 12px;
  }
  
  .share-flat{
    margin-bottom: 10px;
    text-align: center;
  }
  
  .share-flat-inner a {
    position: relative;
    padding:2px 0px;
    display: inline-block;
    width: 19.1%;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
  
  .share-flat .small-text{
    font-size: 10px;
    display: none;
  }
  
  .share-flat .hatena-bookmark-button{
    background: #00A4DE;
  }
  
  .share-flat .twitter-button{
    background: #1DA1F2;
  }
  
  .share-flat .facebook-button{
    background: #405BA7;
  }
  
  .share-flat .pocket-button{
    background: #EE4256;
  }
  
  .share-flat .line-button{ 
    background: #00C300;
  }
  
  .share-flat a:active{
    opacity: 0.6;
  }
  
  .blogicon-twitter::before {
    vertical-align: -10%;
  }