/**/

.table-of-contents{
    list-style-type:disc !important;
}

.table-of-contents > li:before{
    display: none !important;
}
.table-of-contents > li:atter{
    display: none !important;
}


.table-of-contents > li > ul{
    list-style-type:circle !important;
}

.table-of-contents > li > ul > li > ul{
    list-style-type:square !important;
}

.entry-content > ul{
    list-style-type:none;
}

.entry-content > ul > li:before {
    position: absolute;
    left: 5px;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f138";
    color: #96b4f0;
    width: 8px;
    height: 8px;
}

.entry-content > ol{
    counter-reset: li;    /* li のカウンタを 0 にセット */ 
    list-style: none;
    position: relative;
    padding: 15px;
    margin-right: 5px;
    border: 2px solid #dcdcff;
    border-radius: 5px;

}

.entry-content > ol > li{
    line-height: 2.0;
    padding: 0 20px 0 5px;
}

.entry-content > ol > li:before{
    font-weight: bold;
    counter-increment: li;   /* li の数を一つずつ増加 */
    content: counter(li) ". ";          /* 数を表示 */
    font-size:16px;
    color: #96b4f0;
}

.embed-blogcard, .embed-webcard{
    max-width: none !important;
    margin: 10px 0px 10px 0px !important;
}

.entry-content pre.code{
    line-height: 25px;
}

/*プロフィール*/
.hatena-module-profile .profile-icon {
    display: block;
    margin-left: 50px;
    float: none;
}

#box2 img {
    width: 70px;
}

/*Raspberry Pi 3,4対応box*/
.p-34box {
    background-color: #f0f0ff;
    margin: 10px 10px 10px 0px;
    border: solid 1px #dcdcff;
    border-radius: 5px;
    position: relative;
}

.p-34text::before {
    content: '\f14a';
    font-size: 150%;
    color: #6495ed;
    padding: 3px 4px;
    white-space: nowrap;
    position: absolute;
    left: 20px;
    top: 15px;
    font-family: "Font Awesome 5 Free";
}

.p-34text {
    padding: 20px 25px 0px 55px;
}
