/*----更新日時表示----*/

/*----更新日時のデザイン----↓*/
.lastmod {
  background-color: transparent;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 15px;
  display: inline;
  margin-left: 0px;
  color: #888888;
}

/*----更新日時のアイコンデザイン----↓*/
.lastmod::before {
  margin-right: 5px;
  margin-left: 10px;
  padding-left: 3px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f01e';
}

/*----作成日時のデザイン----↓*/
.entry-date a {
  background-color: transparent;
  padding: 5px 0px 5px 6px;
  text-decoration: none;
  font-size: 15px;
  display: inline;
}

/*----作成日時の前の余白設定----↓*/
.entry-date a::before {
margin-right: 5px;
padding-left: 3px;
font-family: "Font Awesome 5 Free";
font-weight: 400;
content: "\f017";
}

.date:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\f073";
  left: 0;
  font-size: 95%;
  top: 0;
}