
/* ブログタイトル同色化 */
#blog-title #title a, #blog-description{
  color: #009688;
}

/* 写真中央寄せ */
.page-entry .entry-content .hatena-fotolife {
  display: block;
  margin: 0px auto;    
}

/* ラズパイアイコン*/
.rasp-icon {
  position:relative;
  display: inline-block;
  vertical-align:middle;
  height:25px;
  margin-bottom: 5px;
}

/* ソースコードタイトル */
.code-title {
  position: relative;
}
.code-title pre.code {
    padding-top: 2.4em;
 }
.code-title::before{
    content: attr(data-title);
    padding: 0 1em;
    background: #666;
    color: #fff8e1;
    font-size: 1.0em;
    border-radius: 3px 0 0 0;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 10;
}

/* ソースコードの囲み */
pre.code {
  margin-bottom: 1.5em;
  padding: 1em;
  background: #333;
  color: #eee;
  position: relative;
  border-radius: 5px;
  border: solid 1px #DADADA;
}

.entry-content pre.code {
  margin-left: 5px;
  margin-right: 5px;
  color: #39464e;
  background-color: #F3F5F6;
}

