/*p box*/
.p-box{
  padding:10px;
  background-color: #f0f0ff;
  margin-bottom:20px;
  margin-left:20px;
  margin-right:20px;
  border:solid 1px #dcdcff;
  font-size:90%;
}
.p-text:before{
  content: attr(data-text);
  font-size:100%;
  background-color:#6495ed;
  color:#fff;
  padding:3px 4px;
  margin:0 5px;white-space:nowrap;
}

/*link box*/
.link-box-a:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: '続きを読む \f101';
    right: 10px;
    bottom: 10px;
    padding: 10px 20px;
    background: #eee;
    color: #333;
    font-size: .8em;
    border-radius: 2px;
}
.link-box-a:hover {
    box-shadow: 2px 2px 6px #dcdcff;
    transition: .3s;
    border: solid 1px　#dcdcff;
    border-radius: 5px;
}
.link-box{
    overflow:hidden;
    margin:10px 0 0 20px;
    width: 100%;
}
.link-box-a {
    display: table;
    position: relative;
    margin: 0 40px 10px 0;
    padding: 10px 0px 10px 25px;
    border: solid 2px #ddd;
    border-radius: 5px;
    background: #fff;
    color:#555;
    font-weight: 700;
    text-decoration: none !important;
}

.link-box-a .link-tbcell {
    display: table-cell;
    vertical-align: top;
}

.link-box-a .link-tbimg > img {

    width: 100px;
    height: 100px;
}
.link-box-a .link-tbtext {
    line-height: 1.5;
    text-align: left;
    padding: 15px 20px;
    width: 1000px;
}

.link-box-label {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    top: 20px;
    width: 140px;
    text-align: center;
    font-size: 80%;
    line-height: 1.0;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    left: -35px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #96b4f0;
    color: #fff;
}

/*p title box*/
.p-title-box {
    border-top: solid 1px #6495b8;
    padding: 10px 0;
    background: #f0f0ff;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 20px;
}

.p-title-box-p::after {
    content: "";
    display: block;
    margin-bottom: 30px;
}

.p-title-box-span {
    padding: 3px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    background: #96b4f0;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
}

.p-title-box-inbox {
    padding: 5px 15px 5px;
    text-align: left;
    font-size: 90%;
}

/*memo box*/
.memo_box {
    background: #fff9e566;
    padding: 0.5em 1em 1em;
    border: 2px solid #f7c6b8;
    border-radius: 5px;
    margin: 10px 20px;
}

.memo_box p {
    margin: 0;
    color: #f89174;
    font-weight: bold;
    font-size: 16px;
}

.memo_box p.atention::before {
    font-family: "Font Awesome 5 Free";
    content: "\f06a";
    padding-right: 5px;
}

.memo_box > ul {
    margin: 5px 0 0 25px;
    padding: 0;
}

.memo_box > ul > li{
    line-height: 1.7;
    font-size: 90%;
}

/*fukidashi list box*/
.fuki-list:after {
    position: absolute;
    border-top: 12px solid #96b4f0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: '';
    top: 10px;
    left: 15px;
}
.fuki-list:before {
    position: absolute;
    border-radius: 5px;
    background-color: #96b4f0;
    color: #fff;
    font-family: "FontAwesome", "Helvetica","Yu Gothic";
    content: attr(data-text);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
    left: -10px;
    top: -15px;
}
.fuki-list {
    position: relative;
    border: 1px solid #dcdcff;
    background-color: #f0f0ff;
    border-radius: 5px;
    margin: 30px 20px 20px 20px;
    padding: 25px 20px 15px 20px;
}


.fuki-list ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size:90%;
}

.fuki-list ul li {
    list-style-type: none !important;
    position: relative;
    padding: .2em 0 .2em 1.5em;
    line-height: 1.5;
}

.fuki-list ul li::before {
    position: absolute;
    left: 0;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: #96b4f0;
    width: 8px;
    height: 8px;
    margin: 0 16px 20px 0;
}

/*tag list box*/
.tag-list:before {
    position: absolute;
    border-radius: 5px 0 0 0/ 5px 0 0 0;
    background-color: #96b4f0;
    color: #fff;
    font-family: "FontAwesome", "Helvetica","Yu Gothic";
    content: attr(data-text);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
    left: 0px;
    top: 0px;
}
.tag-list {
    position: relative;
    border: 1px solid #dcdcff;
    background-color: #f0f0ff;
    border-radius: 5px;
    margin: 30px 20px 20px 20px;
    padding: 35px 20px 15px 20px;
}


.tag-list ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size:90%;
}

.tag-list ul li {
    list-style-type: none !important;
    position: relative;
    padding: .2em 0 .2em 1.5em;
    line-height: 1.5;
}

.tag-list ul li::before {
    position: absolute;
    left: 0;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: #96b4f0;
    width: 8px;
    height: 8px;
    margin: 0 16px 20px 0;
}

/*tag list num box*/
.tag-numlist:before {
    position: absolute;
    border-radius: 5px 0 0 0/ 5px 0 0 0;
    background-color: #96b4f0;
    color: #fff;
    font-family: "FontAwesome", "Helvetica","Yu Gothic";
    content: attr(data-text);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
    left: 0px;
    top: 0px;
}
.tag-numlist {
    position: relative;
    border: 1px solid #dcdcff;
    background-color: #f0f0ff;
    border-radius: 5px;
    margin: 30px 20px 20px 20px;
    padding: 35px 20px 15px 20px;
}


.tag-numlist ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    counter-reset: cnt;
    font-size: 90%;    
}

.tag-numlist ul li {
    list-style-type: none !important;
    position: relative;
    padding: 0.3em 0.5em 0.3em 30px;
    line-height: 1.5;
}

.tag-numlist ul li:before {
    position: absolute;
    counter-increment: cnt;
    content: counter(cnt);
    display: inline-block;
    background: #96b4f0;
    font-family: 'Arial';
    font-weight:bold;
    font-size: 13px;
    border-radius: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;

    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

