/* h2見出しのリセット */
.entry-content h2,
.entry-content h2::before,
.entry-content h2::after {
background: none;
border: none;
border-radius: 0;
}

/* h2カスタマイズ */
.entry-content h2 {
position: relative;
padding: 6px 0 6px 34px;
color: inherit;
border-bottom: 2px solid #009688;
}
.entry-content h2::before,
.entry-content h2::after {
position: absolute;
background-color: #009688;
content: '';
}
.entry-content h2::before{
top: 0;
left: 14px;
width: 12px;
height: 12px;
-webkit-transform: rotate(50deg);
transform: rotate(50deg);
}
.entry-content h2::after{
top: 18px;
left: 8px;
width: 8px;
height: 8px;
-webkit-transform: rotate(20deg);
transform: rotate(20deg);
}

/* h3見出しのリセット */
.entry-content h3,
.entry-content h3::before,
.entry-content h3::after {
    background: none;
    border: none;
    border-radius: 0;
}

/* h3カスタマイズ */
.entry-content h3 {
  font-size: 1.3rem;
  color: inherit;
  padding: 1em 0 0 0;
  margin: 0 0 .5em 0;
}
.entry-content h3:before {
  font-family: blogicon;
  content: "\f029";/*アイコンのユニコード*/
  margin-right: .5em;
  color: 
  #009688;
}
